@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #161925;
}

body .container {
  max-width: 45%;
  width: 100% !important;
}

@media (max-width:760px) {
  body .container {
    max-width: 100%
  }
}